services:
  dev:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next

  prod:
    build:
      context: .
      target: runner
    ports:
      - "3000:3000"
